html, body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
}

header, footer {
    background-color: skyblue;
    text-align: center;
    color: white;
}

main {
    flex: 1;
}

main h3 {
    text-align: center;
}

.listbirds {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 8px;
}

.birds {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 200px;
    max-width: 100%;
    border: 2px solid black;
    border-radius: 4px;
    padding: 5px;
}

.birds img {
    max-width: 100%;
    max-height: 100%;
}
